body {
  color: #333;
  margin: 0px;
  font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

#hero{
  position:relative;
  margin:50px 50px 2px 50px;
  padding:0 10px 0 120px;
  font:bold 70px/100px Arial, Helvetica, sans-serif;
  color:#666;
  background:#f3f3f3;
  z-index:1;
}
#hero:before{
  content:" ";
  position:absolute;
  top:0;
  left:0;
  width:100px;
  height:100px;
  border-right:#fff solid 2px;
  background:#f60;
    background-image: -webkit-gradient(linear, left top, left bottom,
      from(      rgba(255, 255, 255, 0.0)), 
      color-stop(0.20, rgba(255, 255, 255, 0.0)), 
      color-stop(0.20, rgba(255, 255, 255, 0.1)), 
      color-stop(0.40, rgba(255, 255, 255, 0.1)), 
      color-stop(0.40, rgba(255, 255, 255, 0.3)), 
      color-stop(0.60, rgba(255, 255, 255, 0.3)), 
      color-stop(0.60, rgba(255, 255, 255, 0.5)), 
      color-stop(0.80, rgba(255, 255, 255, 0.5)), 
      color-stop(0.80, rgba(255, 255, 255, 0.6)), 
      to(        rgba(255, 255, 255, 0.6))
      );
  background-image: -webkit-linear-gradient(top,
      transparent 20%,
      rgba(255, 255, 255, 0.1) 20%, 
      rgba(255, 255, 255, 0.1) 40%, 
      rgba(255, 255, 255, 0.3) 40%, 
      rgba(255, 255, 255, 0.3) 60%, 
      rgba(255, 255, 255, 0.5) 60%, 
      rgba(255, 255, 255, 0.5) 80%, 
      rgba(255, 255, 255, 0.6) 80%, 
      rgba(255, 255, 255, 0.6) 100%
      );
  background-image: -moz-linear-gradient(top,
      transparent 20%,
      rgba(255, 255, 255, 0.1) 20%, 
      rgba(255, 255, 255, 0.1) 40%, 
      rgba(255, 255, 255, 0.3) 40%, 
      rgba(255, 255, 255, 0.3) 60%, 
      rgba(255, 255, 255, 0.5) 60%, 
      rgba(255, 255, 255, 0.5) 80%, 
      rgba(255, 255, 255, 0.6) 80%, 
      rgba(255, 255, 255, 0.6) 100%
      );
  background-image: -o-linear-gradient(top,
      transparent 20%,
      rgba(255, 255, 255, 0.1) 20%, 
      rgba(255, 255, 255, 0.1) 40%, 
      rgba(255, 255, 255, 0.3) 40%, 
      rgba(255, 255, 255, 0.3) 60%, 
      rgba(255, 255, 255, 0.5) 60%, 
      rgba(255, 255, 255, 0.5) 80%, 
      rgba(255, 255, 255, 0.6) 80%, 
      rgba(255, 255, 255, 0.6) 100%
      );
  background-image: linear-gradient(to bottom,
      transparent 20%,
      rgba(255, 255, 255, 0.1) 20%, 
      rgba(255, 255, 255, 0.1) 40%, 
      rgba(255, 255, 255, 0.3) 40%, 
      rgba(255, 255, 255, 0.3) 60%, 
      rgba(255, 255, 255, 0.5) 60%, 
      rgba(255, 255, 255, 0.5) 80%, 
      rgba(255, 255, 255, 0.6) 80%, 
      rgba(255, 255, 255, 0.6) 100%
      );
      z-index:-1;
}
#hero:after{
  content:" ";
  position:absolute;
  top:0;
  left:0;
  width:100px;
  height:100px;
    background-image: -webkit-gradient(linear, left top, right top,
      from(      rgba(255, 255, 255, 0.0)), 
      color-stop(0.20, rgba(255, 255, 255, 0.0)), 
      color-stop(0.20, rgba(255, 255, 255, 0.1)), 
      color-stop(0.40, rgba(255, 255, 255, 0.1)), 
      color-stop(0.40, rgba(255, 255, 255, 0.3)), 
      color-stop(0.60, rgba(255, 255, 255, 0.3)), 
      color-stop(0.60, rgba(255, 255, 255, 0.5)), 
      color-stop(0.80, rgba(255, 255, 255, 0.5)), 
      color-stop(0.80, rgba(255, 255, 255, 0.6)), 
      to(        rgba(255, 255, 255, 0.6))
      );
  background-image: -webkit-linear-gradient(left,
      transparent 20%,
      rgba(255, 255, 255, 0.1) 20%, 
      rgba(255, 255, 255, 0.1) 40%, 
      rgba(255, 255, 255, 0.3) 40%, 
      rgba(255, 255, 255, 0.3) 60%, 
      rgba(255, 255, 255, 0.5) 60%, 
      rgba(255, 255, 255, 0.5) 80%, 
      rgba(255, 255, 255, 0.6) 80%, 
      rgba(255, 255, 255, 0.6) 100%
      );
  background-image: -moz-linear-gradient(left,
      transparent 20%,
      rgba(255, 255, 255, 0.1) 20%, 
      rgba(255, 255, 255, 0.1) 40%, 
      rgba(255, 255, 255, 0.3) 40%, 
      rgba(255, 255, 255, 0.3) 60%, 
      rgba(255, 255, 255, 0.5) 60%, 
      rgba(255, 255, 255, 0.5) 80%, 
      rgba(255, 255, 255, 0.6) 80%, 
      rgba(255, 255, 255, 0.6) 100%
      );
  background-image: -o-linear-gradient(left,
      transparent 20%,
      rgba(255, 255, 255, 0.1) 20%, 
      rgba(255, 255, 255, 0.1) 40%, 
      rgba(255, 255, 255, 0.3) 40%, 
      rgba(255, 255, 255, 0.3) 60%, 
      rgba(255, 255, 255, 0.5) 60%, 
      rgba(255, 255, 255, 0.5) 80%, 
      rgba(255, 255, 255, 0.6) 80%, 
      rgba(255, 255, 255, 0.6) 100%
      );
  background-image: linear-gradient(to right,
      transparent 20%,
      rgba(255, 255, 255, 0.1) 20%, 
      rgba(255, 255, 255, 0.1) 40%, 
      rgba(255, 255, 255, 0.3) 40%, 
      rgba(255, 255, 255, 0.3) 60%, 
      rgba(255, 255, 255, 0.5) 60%, 
      rgba(255, 255, 255, 0.5) 80%, 
      rgba(255, 255, 255, 0.6) 80%, 
      rgba(255, 255, 255, 0.6) 100%
      );
      z-index:-1;
}

#sub{
  position:relative;
  margin:0px 50px 10px 150px;
  padding:0 10px 0 100px;
  font:bold 24px/30px Arial, Helvetica, sans-serif;
  color:#666;
  background:#f3f3f3;
  z-index:1;
}

#createTag{
  cursor:pointer;cursor:hand;
  font-size: 50px;
  background:#ff7f50;
  width: 180px;
  color: #fff;
  padding: 0px 30px 0px 30px;
  margin:30px 0px 0px 170px;
}

#new{
  margin:10px 0px 0px 190px;
}

#enterTag{
  cursor:pointer;cursor:hand;
  font-size: 50px;
  background:#808080;
  width: 180px;
  color: #fff;
  padding: 0px 30px 0px 30px;
  margin:30px 0px 0px 170px;
}
#enter{
  margin:10px 0px 0px 190px;
}


.roomList{
  background: #f3f3f3;
  border: groove 1px #808080;
  width: 600px;
  padding: 10px;
  margin-bottom: 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}