#palette{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 500px;
  height: 275px;
  border:2px
  groove #696969;
  cursor:move;
}

.paletteTab{
  overflow:hidden;
  list-style:none;
  padding: 0;
  margin:  0;
  background-color: white
}

.paletteTab li{
  background:#b0c4de;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 156px;
  margin-right: 1px;
  font-size: 18px;
  font-weight: bold;
  float:left;
  list-style:none;
  text-align: center;
  cursor:pointer;cursor:hand;
}

.paletteTab li.select{background:#f0f8ff;}

#palette-close{
  width: 29px;
  height: 20px;
  margin-right: 0px;
  background-color: #1e90ff;
  color: #fff;
}

.paletteTool{
  width: 500px;
  height: 245px;
  margin-left: 0px;
  margin-top: 0px;
  background-color: #f0f8ff;
}

#tool{
  z-index: 1001;
  position: absolute;
  display: none;
  height: 30px;
  padding: 15px 0px 15px 0px;
  margin: 0;
  background-color: #f0f8ff;
}

#textLabel{
  font-size: 18px;
  font-weight: bold;
  float:left;
  padding-top: 3px;
}

#text{
  border: 1px
  groove #696969;
  width:440px;
  float:left;
  margin: 0;
  font-size: 18px;
  padding: 2px;
}

#styleRadio{
  padding-top: 20px;
  text-align: center;
}

#pencilLabel, #brushLabel {
  font-size: 18px;
  width:200px;
}

#linewidth{
  padding: 5px 20px;
  height: 30px;
}

#amountLabel{
  font-size: 18px;
  font-weight: bold;
  float:left;
  margin-top: 3px;
}

#amount{
  border: 1px
  groove #696969;
  font-weight: bold;
  width:30px;
  float:left;
  margin: 0;
  font-size: 18px;
  padding: 2px;
}

#lineslider{
  width:300px;
  margin-left: 10px;
  margin-top: 6px;
  float:left
}

#redslider, #greenslider, #blueslider {
  float: left;
  clear: left;
  width: 300px;
  margin: 15px;
}
#swatch {
  border: 3px
  groove #696969;
  width: 120px;
  height: 100px;
  margin-top: 10px;
  margin-left: 350px;
  background-image: none;
}
#redslider .ui-slider-range { background: #ef2929; }
#redslider .ui-slider-handle { border-color: #ef2929; }
#greenslider .ui-slider-range { background: #8ae234; }
#greenslider .ui-slider-handle { border-color: #8ae234; }
#blueslider .ui-slider-range { background: #729fcf; }
#blueslider .ui-slider-handle { border-color: #729fcf; }

#colorRadio{
 margin-top: 5px;
 margin-left: 340px;
}

#blackLabel, #redLabel, #blueLabel, #greenLabel, #yellowLabel,#whiteLabel{
  border: 1px
  groove #696969;
  width: 25px;
}

#blackLabel{background-color: #000;}
#redLabel{background-color: #ff0000;}
#blueLabel{background-color: #0000ff;}
#greenLabel{background-color: #008000;}
#yellowLabel{background-color: #ffff00;}
#whiteLabel{background-color: #fff;}

#options{
  z-index: 1002;
  position: absolute;
  width: 500px;
  height: 245px;
  background-color:#f0f8ff;
}

#option-clear{
  width: 500px;
  height: 121px;
  border-bottom:1px
  groove #696969;
}

#clear-button{
  margin-left: 162px;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
}

#option-resize{
  width: 500px;
  height: 121px;
}

#input-width{
  position: absolute;
  margin-top: 20px;
  margin-left: 50px;
}

#input-height{
  position: absolute;
  margin-top: 20px;
  margin-left: 300px;
}

#resizeWidthLabel,#resizeHeightLabel{
  font-size: 18px;
  font-weight: bold;
  float:left;
  margin-top: 3px;
}
#resizeWidth,#resizeHeight{
  border: 1px
  groove #696969;
  font-weight: bold;
  width:100px;
  float:left;
  margin: 0;
  font-size: 18px;
  padding: 2px;
}

#resize-button{
  font-size: 25px;
  font-weight: bold;
  margin-left: 190px;
  margin-top: 55px;
}

#confirm-clear,#confirm-resize{
  z-index: 1004;
  position: absolute;
  width: 500px;
  height: 121px;
  background-color:#f0f8ff;
}

#confirm-clear p,#confirm-resize p{
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
#confirm-clear a,#confirm-resize a{
  margin-left: 120px;
  font-weight: bold;
  font-size: 18px;
}